@using Editor.Models
@using Editor.Models.Enums
<div class="focus-ring focus-ring-warning" tabindex="0" id="tile-@X-@Y" style="height: @(Size)px; width: @(Size)px; background-color: @color.Name;@bordes; z-index: 1;">
    @if(Tile != null)
    {
        @foreach(var b in Tile.Aberturas)
        {
            var s = getS(b.Direccion);
            <div style="
                    position:relative;
                    border: solid 1px black;
                    pointer-events: none;
                    border-radius: 1px;                    
                    background-color: @color.Name;
                    @s
            "></div>

        }
    }
    
</div>
@code{
    [Parameter] public int X { get; set; }
    [Parameter] public int Y { get; set; }
    [Parameter] public int Size { get; set; }
    [Parameter] public TileTypeEnum Type { get; set; }
    [Parameter] public Tile? Tile { get; set; }

    private System.Drawing.Color color;
    private string bordes = "";

    private const string aberturaTop = "border-top: none; top: -1px; left: 20%; width: 60%; height: 25%;";
    private const string aberturaLeft = "border-left: none; top: 20%; left: -1px; width: 25%; height: 60%;";
    private const string aberturaRight = "border-right: none; top: 20%; left: calc(75% + 1px ); width: 25%; height: 60%;";
    private const string aberturaBottom = "border-bottom: none; top: calc(100% - 25% + 1px); left: 20%; width: 60%; height: 25%;";

    protected override Task OnParametersSetAsync()
    {
        if(Tile != null)
        {
            Type = Tile.Type;
        }
        switch (Type)
        {
            case TileTypeEnum.Path:
                color = System.Drawing.Color.White;
                break;
            case TileTypeEnum.Water:
                color = System.Drawing.Color.Blue;
                break;
            default:
                color = System.Drawing.Color.DarkGray;
                break;
        }
        if(Tile != null)
        {
            if (Tile.Muros.Any())
            {
                var arriba = Tile.Muros.Contains(DirectionEnum.Top) ? "border-top: 3px solid black;" : "border-top: 1px solid lightgrey;";
                var abajo = Tile.Muros.Contains(DirectionEnum.Bottom) ? "border-bottom: 3px solid black;" : "border-bottom: 1px solid lightgrey;";
                var derecha = Tile.Muros.Contains(DirectionEnum.Right) ? "border-right: 3px solid black;" : "border-right: 1px solid lightgrey;";
                var izquierda = Tile.Muros.Contains(DirectionEnum.Left) ? "border-left: 3px solid black;" : "border-left: 1px solid lightgrey;";
                bordes = arriba + abajo + derecha + izquierda;
            }
            else
            {
                bordes = "border: solid 1px lightgrey;";
            }
        }
        else
        {
            bordes = "border: solid 1px grey;";
        }        
        return base.OnParametersSetAsync();
    }

    private string getS(DirectionEnum dir)
    {
        switch (dir)
        {
            case DirectionEnum.Top:
                {
                    // b0order-top: none; top: -1px; left: 20%; width: 60%; height: 25%;
                    var left = "20%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Left))
                    {
                        left = "calc(20% - 1px)";
                    }
                    var width = "60%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Right))
                    {
                        width = "calc(60% + 2px)";
                    }
                    return $"border-top: none; top: -1px; left: {left}; width: {width}; height: 25%;";
                }                
            case DirectionEnum.Left:
                {
                    var top = "20%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Top))
                    {
                        top = "calc(20% - 1px)";
                    }
                    var height = "60%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Bottom))
                    {
                        height = "calc(60% + 2px)";
                    }
                    return $"border-left: none; top: {top}; left: -1px; width: 25%; height: {height};";
                }                
            case DirectionEnum.Right:
                {
                    var top = "20%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Top))
                    {
                        top = "calc(20% - 1px)";
                    }
                    var height = "60%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Bottom))
                    {
                        height = "calc(60% + 2px)";
                    }
                    return $"border-right: none; top: {top}; left: calc(75% + 1px ); width: 25%; height: {height};";
                }                
            case DirectionEnum.Bottom:
                {
                    var left = "20%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Left))
                    {
                        left = "calc(20% - 1px)";
                    }
                    var width = "60%";
                    if (Tile != null && Tile.Muros.Any(m => m == DirectionEnum.Right))
                    {
                        width = "calc(60% + 2px)";
                    }
                    return $"border-bottom: none; top: calc(100% - 25% + 1px); left: {left}; width: {width}; height: 25%;";
                }
                
            default:
                return "";
        }        
    }
}