/Editor/.vs
/Editor/Editor/obj
/Editor/Editor/wwwroot/bootstrap
/Editor/Editor/bin
*.mapa
/dragones/.vs
/dragones/dragones/bin
/dragones/dragones/obj
/dragones.console/.vs
/dragones.console/Dragones.Core/obj
/dragones.console/dragones/bin
/dragones.console/dragones/obj
/dragones/NiquelSoft.Dragones.MySql/obj
/dragones/NiquelSoft.Dragones.SqlServer/obj
/dragones/NiquelSoft.Dragones/obj
/dragones/NiquelSoft.Dragones.Storage/bin
/dragones/NiquelSoft.Dragones.Storage/obj
/dragones/NiquelSoft.Dragones.Web/bin
/dragones/NiquelSoft.Dragones.Web/obj
/dragones/NiquelSoft.Dragones/bin
/dragones/NiquelSoft.Dragones.Web/wwwroot/lib
